@font-face {
    font-family: 'ML';
    src: url('../assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MB';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'DR';
    src: url('../assets/fonts/Della-Respira.ttf') format('truetype');
}

@font-face {
    font-family: 'RR';
    src: url('../assets/fonts/Radley-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CI';
    src: url('../assets/fonts/Cormorant-Infant.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
    /* La altura es exactamente la altura de la ventana */
    overflow-y: auto;
    overflow-x: hidden;
    /* Permite que se haga scroll si hay más contenido */
    font-size: 10px;
    box-sizing: border-box;
    padding: 1.3rem 0 0 0;
    margin: 0;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg,
            #f4e3b2 0%,
            /* Oro pálido */
            #f8f6f0 25%,
            /* Marfil suave */
            #dcd7d1 50%,
            /* Gris perla */
            #e8cfd1 75%,
            /* Rosa empolvado */
            #d8e2e8 100%
            /* Azul grisáceo claro */
        );
    background-size: cover;
    z-index: -1;
    /* Para que quede detrás del contenido */
}


.overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

.firstInfo {
    height: auto;
    width: auto;
    padding: 0.8rem 1.4rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 4vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(32, 32, 32);
    background-color: rgba(255, 255, 255, 0.784);
    z-index: 8;
    box-sizing: border-box;
}

.firstInfo i {
    font-size: 1.1rem;
    margin: 0;
}

.firstInfo p {
    font-family: "MB";
    font-size: 0.9rem;
    margin: 0;
}

.secondInfo {
    height: auto;
    width: 100%;
    padding: 1.7rem 1.4rem 0.8rem 1.4rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 4vw;
    color: rgb(0, 0, 0);
    z-index: 8;
    box-sizing: border-box;
}

.secondInfo i {
    font-size: 1.1rem;
    margin: 0;
}

.secondInfo p {
    font-size: 0.9rem;
    font-family: "MB";
    margin: 0;
}

.routineCarrusel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.2rem 0.8rem 0.8rem 0.8rem;
    gap: 0.8rem;
    z-index: 8;
    box-sizing: border-box;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}

.routineCarrusel::-webkit-scrollbar {
    display: none;
}

.routineCard {
    flex: 0 0 77vw;
    height: auto;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0rem 0rem 1rem 0;
}

.base {
    background: linear-gradient(355deg, #e5f9fd, white);
    opacity: 0.8;
}

.premium {
    background: linear-gradient(355deg, #fff5da, white);
    opacity: 0.95;
}

.routineTitleBase {
    width: 100%;
    height: 3rem;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    background-color: #c6e7ed;
    color: #055966;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MB";
    font-size: 1rem;
}

.routineTitlePremium {
    width: 100%;
    height: 3rem;
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
    background-color: #fdedb1;
    color: #6b5500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MB";
    font-size: 1rem;
}

.routinePhotoZone {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7rem;
    box-sizing: border-box;
    padding: 0.5rem;
}

.routinePhotoZone img {
    width: 5.5rem;
    height: auto;
    margin: 0;
    transition: width 0.5s ease-in-out;
}

#sunscreenImg1 {
    height: auto;
    width: 0;
}

#sunscreenImg1.included {
    width: 25%;
}

#sunscreenImg2 {
    height: auto;
    width: 0;
}

#sunscreenImg2.included {
    width: 25%;
}

#sunscreenImg3 {
    height: auto;
    width: 0;
}

#sunscreenImg3.included {
    width: 25%;
}

.productsIncluded {
    width: 100%;
    height: auto;
    margin-bottom: 0.7rem;
    transition: height 0.5s ease-in-out;
}

.productIncludedLabel {
    width: 100%;
    height: 1rem;

    box-sizing: border-box;
    padding: 0.2rem 0.4rem 0.2rem 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "MB";
    font-size: 0.8rem;
}

.productIncludedName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Propiedades existentes */
    width: 100%;
    height: 1rem;
    box-sizing: border-box;
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "ML";
    font-size: 0.7rem;
}

.productIncludedName p {
    white-space: nowrap;
    /* Evitar saltos de línea */
    overflow: hidden;
    /* Ocultar el contenido que se sale */
    text-overflow: ellipsis;
    display: block;
    color: rgb(220, 220, 220);
}

.routineDivider {
    height: 1px;
    width: 85%;
    background-color: rgba(128, 128, 128, 0.264);
}

.routinePriceZone {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0.7rem 1.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "MB";
    color: rgb(33, 33, 33);
    font-size: 1.7rem;
}

.benefitsZone {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem 0;
}

.benefit {
    width: 100%;
    height: auto;
    padding: 0.2rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: "MB";
    color: rgb(33, 33, 33);
    box-sizing: border-box;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.benefit p {
    margin: 0;
}

.benefit i {
    color: rgb(138, 120, 22);
}

.addSunscreen {
    width: 90%;
    height: auto;
    padding: 0.7rem 0.5rem;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "MB";
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
}

.addSunscreen p {
    margin: 0;
}

.sunscreenBase {
    box-shadow: 2px 5px 24px 3px rgba(13, 96, 138, 0.3);
    -webkit-box-shadow: 2px 5px 24px 3px rgba(13, 96, 138, 0.3);
    -moz-box-shadow: 2px 5px 24px 3px rgba(13, 96, 138, 0.3);
    color: #003945;
    background-color: rgba(255, 255, 255, 0);
}

.sunscreenBase.included {
    background-color: #0b4450;
    color: #f6feff;
    justify-content: center;
}

.sunscreenPremium {
    box-shadow: 2px 5px 24px 3px rgba(138, 118, 13, 0.3);
    -webkit-box-shadow: 2px 5px 24px 3px rgba(138, 118, 13, 0.3);
    -moz-box-shadow: 2px 5px 24px 3px rgba(138, 118, 13, 0.3);
    color: #452800;
    background-color: rgba(255, 255, 255, 0);
}

.sunscreenPremium.included {
    background-color: #6b5500;
    color: #fff9eb;
    justify-content: center;
}

.acquireButtonBase {
    width: 85%;
    height: auto;
    padding: 1rem 0.5rem;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #003945;
    font-size: 1rem;
    font-family: "MB";
    color: #ebfcff;
    border: none;
}

.acquireButtonPremium {
    width: 85%;
    height: auto;
    padding: 1rem 0.5rem;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #6b5500;
    font-size: 1rem;
    font-family: "MB";
    color: #fff6d4;
    border: none;
}

.routineDescription {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.872);
    z-index: 8;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.8rem;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
}

.routineDescriptionTitle {
    width: 100%;
    height: auto;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.routineDescriptionTitle p {
    font-family: "MB";
    font-size: 1.1rem;
    color: black;
    margin: 0;
}

.routineDescriptionTitle i {
    font-size: 1.2rem;
    color: black;
    margin: 0;
}

.productZoneContainer {
    width: 100%;
    height: auto;
}

.productZone {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.routineColumnBase {
    height: auto;
    width: 50%;
    background: linear-gradient(180deg, #aee6f1b8, #e1faffb4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.routineColumnPremium {
    height: auto;
    width: 50%;
    background: linear-gradient(180deg, #ebcd82c0, #fff7dadb);
    border-left: 1px solid white;
    gap: 0.7rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.routineColumnBase .title {
    width: 100%;
    height: auto;
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(45deg, #92c3ce, #ceedf4);
    font-size: 1rem;
    font-family: "MB";
    color: #002127;
}

.routineColumnPremium .title {
    width: 100%;
    height: auto;
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(90deg, #d8ca98, #fff7da);
    font-size: 1rem;
    font-family: "MB";
    color: #392d01;
}

.productLabel {
    width: 100%;
    height: auto;
    padding: 0.7rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow-x: auto;
    /* Evita que se desborden los pseudo-elementos */
    gap: 0.5rem;
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.084);
}


.productLabel p {
    font-family: "MB";
    font-size: 1rem;
    color: rgb(41, 41, 41);
    margin: 0;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.981);
    padding: 0.4rem 1.5rem;
    border-radius: 0.6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.productLabel p.active {
    background: linear-gradient(180deg, #2c3937, #39352c);
    color: rgb(237, 237, 237);
}

.productColumnBase {
    width: 50%;
    height: auto;
    padding: 1rem;
    background: linear-gradient(180deg, #ffffff, #ceedf4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border-right: 1px solid white;
}

.productColumnPremium {
    width: 50%;
    height: auto;
    padding: 1rem;
    background: linear-gradient(180deg, #ffffff, #fff7da);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.productColumnBase img,
.productColumnPremium img {
    width: auto;
    height: 9rem;
}

.productName {
    font-family: "ML";
    line-height: 1rem;
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;
    color: rgb(21, 21, 21);
    margin: 0;
}

.productQuantity {
    font-family: "ML";
    line-height: 1.2rem;
    font-size: 0.9rem;
    text-align: center;
    color: rgba(21, 21, 21, 0.486);
    margin: 0;
}

.productBrand {
    font-family: "MB";
    line-height: 1.2rem;
    font-size: 0.9rem;
    text-align: center;
    color: rgb(92, 92, 92);
    margin: 0;
}

.productDescription {
    position: relative;
    /* Necesario para que los pseudo-elementos se posicionen respecto a este div */
    width: 100%;
    height: auto;
    padding: 0.8rem 0.5rem 2rem 0.5rem;
    background: linear-gradient(180deg, #194a37, #ebdab3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.721);
    backdrop-filter: blur(10px);
    overflow: hidden;
    /* Evita que se desborden los pseudo-elementos */
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    text-align: center;
}


.productDescription p {
    font-family: "ML";
    font-size: 0.9rem;
    color: rgb(59, 59, 59);
    margin: 0;
    line-height: 1.1rem;
    z-index: 11;
}

.productDescription i {
    font-size: 0.95rem;
    color: rgb(27, 27, 27);
    margin-right: 0.5rem;
    z-index: 11;
}

footer {
    background-image: url("/assets/footer.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100vw;
    height: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerLogo {
    width: auto;
    height: 15%;
    padding: 0 3.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: "DR";
    color: rgba(0, 0, 0, 0.778);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.46);
    z-index: 30;
    border-radius: 0.5rem;
}

.footerDescription {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    z-index: 30;
}

.footerDescription p {
    line-height: 1rem;
    font-family: "ML";
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.621);
    text-align: center;
}

.footerContent {
    width: 100%;
    height: 50%;
    z-index: 30;
    display: flex;
    flex-direction: row;
}

.footerContent1 {
    height: 100%;
    width: 50%;
    border-right: 1px solid rgb(176, 176, 176);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent1 img {
    height: auto;
    width: 70%;
}

.footerContent2 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent2 img {
    height: auto;
    width: 70%;
}

.footerLogo p {
    margin: 0;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    /* efecto blur */
    background: rgba(255, 255, 255, 0.735);
    /* overlay translúcido */
    z-index: 20;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modal.visible {
    opacity: 1;
    pointer-events: auto;
}

.modalHeader {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 1rem;
    box-sizing: border-box;
    gap: 0.3rem;
}

.modalHeader button {
    width: auto;
    height: auto;
    padding: 0.1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.modalHeader i {
    font-size: 1.7rem;
    color: black;
}

.modalHeader p {
    font-family: "MB";
    font-size: 1rem;
}

.modalProductsContainer {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.modalProduct {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.modalProductPhoto {
    width: 22%;
    height: 100%;
    border-radius: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalProductPhoto img {
    width: auto;
    height: 90%;
}

.modalProductDescription {
    width: 78%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 0.2rem;
}

.modalProductDescription p:first-child {
    font-family: "MB";
    font-size: 0.9rem;
    color: black;
    line-height: 1.1rem;
    margin: 0;
}

.modalProductDescription p:last-child {
    font-family: "ML";
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.759);
    margin: 0;
}

.subTotalAndDelivery {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0rem;
    box-sizing: border-box;
    margin: 1rem 0rem 0rem 0rem;
    background-color: rgba(220, 220, 220, 0.297);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0rem;
    box-sizing: border-box;
    margin: 0rem 0rem;
    background-color: rgba(255, 255, 255, 0.297);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgb(229, 229, 229);
}

.subtotal,
.delivery {
    width: 100%;
    height: 1.7rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.subtotal p:first-child {
    font-family: "ML";
    font-size: 1rem;
    margin: 0;
}

.subtotal p:last-child {
    font-family: "MB";
    font-size: 1rem;
    margin: 0;
}

.delivery p:first-child {
    font-family: "ML";
    font-size: 1rem;
    margin: 0;
}

.delivery p:last-child {
    font-family: "MB";
    font-size: 0.9rem;
    margin: 0;
}

.confirmationButton {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmationButton button {
    height: 75%;
    width: 90%;
    background-color: #2B2200;
    border-radius: 1rem;
    color: #fff6d4;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DR";
    font-size: 1.25rem;
}

.modalWhatsApp {
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.875);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: opacity 0.3s ease-in-out;
    z-index: 30;
    gap: 0.5rem;
}

.modalWhatsApp.active {
    pointer-events: auto;
    opacity: 1;
}

.modalWhatsAppContent {
    width: 90%;
    height: auto;
    padding: 0.6rem 0.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: white;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modalWhatsAppContentWindow {
    width: 100%;
    height: auto;
    padding: 0.3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.modalWhatsAppContentWindow1 {
    height: auto;
    width: 10%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.windowDivider {
    width: 95%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.164);
}

.modalWhatsAppContentWindow2 {
    height: auto;
    width: 90%;
    box-sizing: border-box;
    padding: 0.2rem 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.modalWhatsAppContentWindow2 p {
    font-family: "ML";
    font-size: 0.95rem;
    color: black;
    line-height: 1.25rem;
}

.modalWhatsAppAccept {
    width: 90%;
    height: auto;
    box-sizing: border-box;
    padding: 0.8rem 0rem;
    border-radius: 0.5rem;
    background-color: #76895B;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.063);
}

.modalWhatsAppAccept p {
    margin: 0;
    font-family: "MB";
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.812);
}

.modalWhatsAppClose {
    width: 90%;
    height: auto;
    box-sizing: border-box;
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
    background-color: #5555558a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWhatsAppClose p {
    margin: 0;
    font-family: "ML";
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.812);
}